.content {
    max-width: 768px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    font-size:30px;
  }
  
  .content-btn {
    background-color:rgb(47, 184, 230);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  @media screen and (max-width:768px) {
    .content{
        max-width: 500px;
        margin: 0 auto;
        font-size: 25px
     }
}

@media screen and (max-width:480px) {
    .content{
         max-width:300px;
         margin: 0 auto;
         font-size: 20px
    }
}
  